.border{
    border: 2px ;
    margin: 3px;
}
.flex{
    display: flex;
}
.justify-enter {
    justify-content: center;
}
.items-center{
    align-items: center;
}
.bg-black{
    background-color: black;
    color: white;
}
.bg-grey{
    background-color: #0e0e0e;
    color: white;
}
.rounded{
    border-radius: 7px;
}
.m1{
    margin: 5px;
}
.p1{
    padding: 10px;
}
/* For Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #393838; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 10px;
  transition: background 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
.insameline{
    display: flex;
}
